@import "../../../style/index.scss";

$tokens: (
    // type: primary
    // status: normal
    btn-primary-normal-bg-color: $primary-6,
    btn-primary-normal-border-color: $primary-6,
    btn-primary-normal-text-color: $color-white,
    btn-primary-normal-active-bg-color: $primary-7,
    btn-primary-normal-active-border-color: $primary-7,
    btn-primary-normal-disabled-text-color: $color-text-disabled,
    btn-primary-normal-disabled-bg-color: $primary-3,
    btn-primary-normal-disabled-border-color: $primary-3,
    btn-primary-normal-loading-text-color: $color-text-disabled,
    btn-primary-normal-loading-bg-color: $primary-3,
    btn-primary-normal-loading-border-color: $primary-3,
    // status: success
    btn-primary-success-bg-color: $success-6,
    btn-primary-success-border-color: $success-6,
    btn-primary-success-text-color: $color-white,
    btn-primary-success-active-bg-color: $success-7,
    btn-primary-success-active-border-color: $success-7,
    btn-primary-success-disabled-text-color: $color-text-disabled,
    btn-primary-success-disabled-bg-color: $success-3,
    btn-primary-success-disabled-border-color: $success-3,
    btn-primary-success-loading-text-color: $color-text-disabled,
    btn-primary-success-loading-bg-color: $success-3,
    btn-primary-success-loading-border-color: $success-3,
    // status: warning
    btn-primary-warning-bg-color: $warning-6,
    btn-primary-warning-border-color: $warning-6,
    btn-primary-warning-text-color: $color-white,
    btn-primary-warning-active-bg-color: $warning-7,
    btn-primary-warning-active-border-color: $warning-7,
    btn-primary-warning-disabled-text-color: $color-text-disabled,
    btn-primary-warning-disabled-bg-color: $warning-3,
    btn-primary-warning-disabled-border-color: $warning-3,
    btn-primary-warning-loading-text-color: $color-text-disabled,
    btn-primary-warning-loading-bg-color: $warning-3,
    btn-primary-warning-loading-border-color: $warning-3,
    // status: danger
    btn-primary-danger-bg-color: $danger-6,
    btn-primary-danger-border-color: $danger-6,
    btn-primary-danger-text-color: $color-white,
    btn-primary-danger-active-bg-color: $danger-7,
    btn-primary-danger-active-border-color: $danger-7,
    btn-primary-danger-disabled-text-color: $color-text-disabled,
    btn-primary-danger-disabled-bg-color: $danger-3,
    btn-primary-danger-disabled-border-color: $danger-3,
    btn-primary-danger-loading-text-color: $color-text-disabled,
    btn-primary-danger-loading-bg-color: $danger-3,
    btn-primary-danger-loading-border-color: $danger-3,
    // type: secondary
    // status: normal
    btn-secondary-normal-bg-color: $primary-1,
    btn-secondary-normal-border-color: $primary-1,
    btn-secondary-normal-text-color: $primary-6,
    btn-secondary-normal-active-bg-color: $primary-2,
    btn-secondary-normal-active-border-color: $primary-2,
    btn-secondary-normal-disabled-text-color: $primary-3,
    btn-secondary-normal-disabled-bg-color: $primary-1,
    btn-secondary-normal-disabled-border-color: $primary-1,
    btn-secondary-normal-loading-text-color: $primary-3,
    btn-secondary-normal-loading-bg-color: $primary-1,
    btn-secondary-normal-loading-border-color: $primary-1,
    // status: success
    btn-secondary-success-bg-color: $success-1,
    btn-secondary-success-border-color: $success-1,
    btn-secondary-success-text-color: $success-6,
    btn-secondary-success-active-bg-color: $success-2,
    btn-secondary-success-active-border-color: $success-2,
    btn-secondary-success-disabled-text-color: $success-3,
    btn-secondary-success-disabled-bg-color: $success-1,
    btn-secondary-success-disabled-border-color: $success-1,
    btn-secondary-success-loading-text-color: $success-3,
    btn-secondary-success-loading-bg-color: $success-1,
    btn-secondary-success-loading-border-color: $success-1,
    // status: warning
    btn-secondary-warning-bg-color: $warning-1,
    btn-secondary-warning-border-color: $warning-1 ,
    btn-secondary-warning-text-color: $warning-6,
    btn-secondary-warning-active-bg-color: $warning-2,
    btn-secondary-warning-active-border-color: $warning-2,
    btn-secondary-warning-disabled-text-color: $warning-3,
    btn-secondary-warning-disabled-bg-color: $warning-1,
    btn-secondary-warning-disabled-border-color: $warning-1,
    btn-secondary-warning-loading-text-color: $warning-3,
    btn-secondary-warning-loading-bg-color: $warning-1,
    btn-secondary-warning-loading-border-color: $warning-1,
    // status: danger
    btn-secondary-danger-bg-color: $danger-1,
    btn-secondary-danger-border-color: $danger-1,
    btn-secondary-danger-text-color: $danger-6,
    btn-secondary-danger-active-bg-color: $danger-2,
    btn-secondary-danger-active-border-color: $danger-2,
    btn-secondary-danger-disabled-text-color: $danger-3,
    btn-secondary-danger-disabled-bg-color: $danger-1,
    btn-secondary-danger-disabled-border-color: $danger-1 ,
    btn-secondary-danger-loading-text-color: $danger-3 ,
    btn-secondary-danger-loading-bg-color: $danger-1,
    btn-secondary-danger-loading-border-color: $danger-1,
    // type: outline
    // status: normal
    btn-outline-normal-bg-color: $color-transparent,
    btn-outline-normal-border-color: $primary-6,
    btn-outline-normal-text-color: $primary-6,
    btn-outline-normal-active-bg-color: $primary-1,
    btn-outline-normal-active-border-color: $primary-6,
    btn-outline-normal-disabled-text-color: $primary-3,
    btn-outline-normal-disabled-bg-color: $color-transparent,
    btn-outline-normal-disabled-border-color: $primary-3,
    btn-outline-normal-loading-text-color: $primary-3,
    btn-outline-normal-loading-bg-color: $color-transparent,
    btn-outline-normal-loading-border-color: $primary-3,
    // status: success
    btn-outline-success-bg-color: $color-transparent,
    btn-outline-success-border-color: $success-6,
    btn-outline-success-text-color: $success-6,
    btn-outline-success-active-bg-color: $success-1,
    btn-outline-success-active-border-color: $success-6,
    btn-outline-success-disabled-text-color: $success-3,
    btn-outline-success-disabled-bg-color: $color-transparent,
    btn-outline-success-disabled-border-color: $success-3,
    btn-outline-success-loading-text-color: $success-3,
    btn-outline-success-loading-bg-color: $color-transparent,
    btn-outline-success-loading-border-color: $success-3,
    // status: warning  
    btn-outline-warning-bg-color: $color-transparent,
    btn-outline-warning-border-color: $warning-6,
    btn-outline-warning-text-color: $warning-6,
    btn-outline-warning-active-bg-color: $warning-1,
    btn-outline-warning-active-border-color: $warning-6,
    btn-outline-warning-disabled-text-color: $warning-3,
    btn-outline-warning-disabled-bg-color: $color-transparent,
    btn-outline-warning-disabled-border-color: $warning-3,
    btn-outline-warning-loading-text-color: $warning-3,
    btn-outline-warning-loading-bg-color: $color-transparent,
    btn-outline-warning-loading-border-color: $warning-3,
    // status: danger
    btn-outline-danger-bg-color: $color-transparent,
    btn-outline-danger-border-color: $danger-6,
    btn-outline-danger-text-color: $danger-6,
    btn-outline-danger-active-bg-color: $danger-1,
    btn-outline-danger-active-border-color: $danger-6,
    btn-outline-danger-disabled-text-color: $danger-3,
    btn-outline-danger-disabled-bg-color: $color-transparent,
    btn-outline-danger-disabled-border-color: $danger-3,
    btn-outline-danger-loading-text-color: $danger-3,
    btn-outline-danger-loading-bg-color: $color-transparent,
    btn-outline-danger-loading-border-color: $danger-3,
    )