$primary-color: #165DFF !default;
$success-color: #00B42A !default;
$warning-color: #FF7D00 !default;
$error-color: #F53F3F !default;

$dark-primary-color: #3C7EFF !default;
$dark-success-color: #27C346 !default;
$dark-warning-color: #FF9626 !default;
$dark-error-color: #F76965 !default;