@font-face {
    font-family: "iui-icon";
    /* Project id 4155405 */
    src: url('//at.alicdn.com/t/c/font_4155405_t1fn6bc6b0f.woff2?t=1688719771412') format('woff2'),
        url('//at.alicdn.com/t/c/font_4155405_t1fn6bc6b0f.woff?t=1688719771412') format('woff'),
        url('//at.alicdn.com/t/c/font_4155405_t1fn6bc6b0f.ttf?t=1688719771412') format('truetype');
}

.iui-icon {
    font-family: "iui-icon" !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.iui-icon-minus:before {
    content: "\e807";
}


.iui-icon-plus:before {
    content: "\e8fe";
}

.iui-icon-loading:before {
    content: "\e632";
}

.iui-icon-unlike-fill:before {
    content: "\e86d";
}


.iui-icon-heart:before {
    content: "\e7e8";
}

.iui-icon-star:before {
    content: "\e7e9";
}

.iui-icon-attachment:before {
    content: "\e7ea";
}

.iui-icon-edit:before {
    content: "\e7eb";
}

.iui-icon-key:before {
    content: "\e7ec";
}

.iui-icon-api:before {
    content: "\e7ed";
}

.iui-icon-link:before {
    content: "\e7ee";
}

.iui-icon-man:before {
    content: "\e7ef";
}

.iui-icon-pushpin:before {
    content: "\e7f0";
}

.iui-icon-phone:before {
    content: "\e7f1";
}

.iui-icon-tag:before {
    content: "\e7f2";
}

.iui-icon-tags:before {
    content: "\e7f3";
}

.iui-icon-scissor:before {
    content: "\e7f4";
}

.iui-icon-branches:before {
    content: "\e7f5";
}

.iui-icon-verticalleft:before {
    content: "\e7f6";
}

.iui-icon-right:before {
    content: "\e7f7";
}

.iui-icon-left:before {
    content: "\e7f8";
}

.iui-icon-up:before {
    content: "\e7f9";
}

.iui-icon-down:before {
    content: "\e7fa";
}

.iui-icon-fullscreen:before {
    content: "\e7fb";
}

.iui-icon-fullscreen-exit:before {
    content: "\e7fc";
}

.iui-icon-doubleleft:before {
    content: "\e7fd";
}

.iui-icon-doubleright:before {
    content: "\e7fe";
}

.iui-icon-arrowright:before {
    content: "\e7ff";
}

.iui-icon-arrowup:before {
    content: "\e800";
}

.iui-icon-arrowleft:before {
    content: "\e801";
}

.iui-icon-arrowdown:before {
    content: "\e802";
}

.iui-icon-upload:before {
    content: "\e803";
}

.iui-icon-number:before {
    content: "\e804";
}

.iui-icon-check:before {
    content: "\e805";
}

.iui-icon-close:before {
    content: "\e806";
}

.iui-icon-crown:before {
    content: "\e842";
}

.iui-icon-gift:before {
    content: "\e843";
}

.iui-icon-stop:before {
    content: "\e844";
}

.iui-icon-fire:before {
    content: "\e845";
}

.iui-icon-thunderbolt:before {
    content: "\e846";
}

.iui-icon-check-circle-fill:before {
    content: "\e847";
}

.iui-icon-left-circle-fill:before {
    content: "\e848";
}

.iui-icon-down-circle-fill:before {
    content: "\e849";
}

.iui-icon-minus-circle-fill:before {
    content: "\e84a";
}

.iui-icon-close-circle-fill:before {
    content: "\e84b";
}

.iui-icon-info-circle-fill:before {
    content: "\e84c";
}

.iui-icon-up-circle-fill:before {
    content: "\e84d";
}

.iui-icon-right-circle-fill:before {
    content: "\e84e";
}

.iui-icon-plus-circle-fill:before {
    content: "\e84f";
}

.iui-icon-question-circle-fill:before {
    content: "\e850";
}

.iui-icon-frown-fill:before {
    content: "\e851";
}

.iui-icon-compass-fill:before {
    content: "\e852";
}

.iui-icon-Dollar-circle-fill:before {
    content: "\e853";
}

.iui-icon-poweroff-circle-fill:before {
    content: "\e854";
}

.iui-icon-meh-fill:before {
    content: "\e855";
}

.iui-icon-play-circle-fill:before {
    content: "\e856";
}

.iui-icon-smile-fill:before {
    content: "\e857";
}

.iui-icon-stop-fill:before {
    content: "\e858";
}

.iui-icon-warning-circle-fill:before {
    content: "\e859";
}

.iui-icon-time-circle-fill:before {
    content: "\e85a";
}

.iui-icon-heart-fill:before {
    content: "\e85b";
}

.iui-icon-dashboard-fill:before {
    content: "\e85c";
}

.iui-icon-message-fill:before {
    content: "\e85d";
}

.iui-icon-appstore-fill:before {
    content: "\e85e";
}

.iui-icon-mobile-fill:before {
    content: "\e85f";
}

.iui-icon-safetycertificate-f:before {
    content: "\e860";
}

.iui-icon-fire-fill:before {
    content: "\e866";
}

.iui-icon-trophy-fill:before {
    content: "\e867";
}

.iui-icon-experiment-fill:before {
    content: "\e869";
}

.iui-icon-eye-fill:before {
    content: "\e86a";
}

.iui-icon-like-fill:before {
    content: "\e86b";
}

.iui-icon-star-fill:before {
    content: "\e86c";
}

.iui-icon-crown-fill:before {
    content: "\e86f";
}

.iui-icon-setting-fill:before {
    content: "\e871";
}

.iui-icon-google:before {
    content: "\e87a";
}

.iui-icon-alipay:before {
    content: "\e87c";
}

.iui-icon-taobao:before {
    content: "\e87d";
}

.iui-icon-zhihu:before {
    content: "\e87e";
}

.iui-icon-facebook:before {
    content: "\e87f";
}

.iui-icon-skype:before {
    content: "\e880";
}

.iui-icon-CodeSandbox:before {
    content: "\e881";
}

.iui-icon-chrome:before {
    content: "\e882";
}

.iui-icon-codepen:before {
    content: "\e883";
}

.iui-icon-apple:before {
    content: "\e884";
}

.iui-icon-android:before {
    content: "\e885";
}

.iui-icon-sketch:before {
    content: "\e886";
}

.iui-icon-Gitlab:before {
    content: "\e887";
}

.iui-icon-dribbble:before {
    content: "\e888";
}

.iui-icon-instagram:before {
    content: "\e889";
}

.iui-icon-windows:before {
    content: "\e88a";
}

.iui-icon-Gitlab-fill:before {
    content: "\e88b";
}

.iui-icon-dropbox:before {
    content: "\e88c";
}

.iui-icon-android-fill:before {
    content: "\e88d";
}

.iui-icon-apple-fill:before {
    content: "\e88e";
}

.iui-icon-windows-fill:before {
    content: "\e88f";
}

.iui-icon-QQ:before {
    content: "\e890";
}

.iui-icon-twitter:before {
    content: "\e891";
}

.iui-icon-skype-fill:before {
    content: "\e892";
}

.iui-icon-weibo:before {
    content: "\e893";
}

.iui-icon-Youtube-fill:before {
    content: "\e894";
}

.iui-icon-wechat-fill:before {
    content: "\e895";
}

.iui-icon-alipay-circle-fill:before {
    content: "\e896";
}

.iui-icon-github-fill:before {
    content: "\e897";
}

.iui-icon-QQ-circle-fill:before {
    content: "\e898";
}

.iui-icon-taobao-circle-fill:before {
    content: "\e899";
}

.iui-icon-weibo-circle-fill:before {
    content: "\e89a";
}

.iui-icon-zhihu-circle-fill:before {
    content: "\e89b";
}

.iui-icon-audio:before {
    content: "\e89c";
}

.iui-icon-audio-fill:before {
    content: "\e89d";
}

.iui-icon-robot:before {
    content: "\e89e";
}

.iui-icon-bug:before {
    content: "\e8e8";
}

.iui-icon-audiostatic:before {
    content: "\e8e9";
}

.iui-icon-comment:before {
    content: "\e8ea";
}

.iui-icon-switchuser:before {
    content: "\e8eb";
}

.iui-icon-appstoreadd:before {
    content: "\e8ec";
}

.iui-icon-caret-down:before {
    content: "\e8ed";
}

.iui-icon-backward:before {
    content: "\e8ee";
}

.iui-icon-caret-up:before {
    content: "\e8ef";
}

.iui-icon-caret-right:before {
    content: "\e8f0";
}

.iui-icon-caret-left:before {
    content: "\e8f1";
}

.iui-icon-fast-backward:before {
    content: "\e8f2";
}

.iui-icon-forward:before {
    content: "\e8f3";
}

.iui-icon-fast-forward:before {
    content: "\e8f4";
}

.iui-icon-search:before {
    content: "\e8f5";
}

.iui-icon-step-backward:before {
    content: "\e8f6";
}

.iui-icon-step-forward:before {
    content: "\e8f7";
}

.iui-icon-swap-right:before {
    content: "\e8f8";
}

.iui-icon-swap-left:before {
    content: "\e8f9";
}

.iui-icon-woman:before {
    content: "\e8fa";
}

.iui-icon-eyeclose-fill:before {
    content: "\e8ff";
}

.iui-icon-eye-close:before {
    content: "\e900";
}

.iui-icon-clear:before {
    content: "\e901";
}

.iui-icon-formatpainter:before {
    content: "\e902";
}

.iui-icon-formatpainter-fill:before {
    content: "\e903";
}

.iui-icon-translate:before {
    content: "\e904";
}

.iui-icon-send:before {
    content: "\e916";
}

.iui-icon-Dollar:before {
    content: "\e77e";
}

.iui-icon-compass:before {
    content: "\e77f";
}

.iui-icon-close-circle:before {
    content: "\e780";
}

.iui-icon-frown:before {
    content: "\e781";
}

.iui-icon-info-circle:before {
    content: "\e782";
}

.iui-icon-left-circle:before {
    content: "\e783";
}

.iui-icon-down-circle:before {
    content: "\e784";
}

.iui-icon-copyright:before {
    content: "\e785";
}

.iui-icon-minus-circle:before {
    content: "\e786";
}

.iui-icon-meh:before {
    content: "\e787";
}

.iui-icon-plus-circle:before {
    content: "\e788";
}

.iui-icon-play-circle:before {
    content: "\e789";
}

.iui-icon-question-circle:before {
    content: "\e78a";
}

.iui-icon-right-circle:before {
    content: "\e78b";
}

.iui-icon-smile:before {
    content: "\e78c";
}

.iui-icon-trademark:before {
    content: "\e78d";
}

.iui-icon-time-circle:before {
    content: "\e78e";
}

.iui-icon-timeout:before {
    content: "\e78f";
}

.iui-icon-earth:before {
    content: "\e790";
}

.iui-icon-YUAN:before {
    content: "\e791";
}

.iui-icon-up-circle:before {
    content: "\e792";
}

.iui-icon-warning-circle:before {
    content: "\e793";
}

.iui-icon-sync:before {
    content: "\e794";
}

.iui-icon-reloadtime:before {
    content: "\e795";
}

.iui-icon-message:before {
    content: "\e796";
}

.iui-icon-dashboard:before {
    content: "\e797";
}

.iui-icon-poweroff:before {
    content: "\e798";
}

.iui-icon-setting:before {
    content: "\e799";
}

.iui-icon-eye:before {
    content: "\e79a";
}

.iui-icon-location:before {
    content: "\e79b";
}

.iui-icon-edit-square:before {
    content: "\e79c";
}

.iui-icon-export:before {
    content: "\e79d";
}

.iui-icon-save:before {
    content: "\e79e";
}

.iui-icon-Import:before {
    content: "\e79f";
}

.iui-icon-appstore:before {
    content: "\e7a0";
}

.iui-icon-codelibrary:before {
    content: "\e7a1";
}

.iui-icon-border:before {
    content: "\e7a9";
}

.iui-icon-adduser:before {
    content: "\e7ae";
}

.iui-icon-deleteteam:before {
    content: "\e7af";
}

.iui-icon-deleteuser:before {
    content: "\e7b0";
}

.iui-icon-addteam:before {
    content: "\e7b1";
}

.iui-icon-user:before {
    content: "\e7b2";
}

.iui-icon-team:before {
    content: "\e7b3";
}

.iui-icon-linechart:before {
    content: "\e7b4";
}

.iui-icon-barchart:before {
    content: "\e7b5";
}

.iui-icon-container:before {
    content: "\e7b6";
}

.iui-icon-database:before {
    content: "\e7b7";
}

.iui-icon-sever:before {
    content: "\e7b8";
}

.iui-icon-mobile:before {
    content: "\e7b9";
}

.iui-icon-tablet:before {
    content: "\e7ba";
}

.iui-icon-book:before {
    content: "\e7bb";
}

.iui-icon-filesearch:before {
    content: "\e7bc";
}

.iui-icon-file-add:before {
    content: "\e7bd";
}

.iui-icon-file:before {
    content: "\e7be";
}

.iui-icon-file-text:before {
    content: "\e7bf";
}

.iui-icon-file-copy:before {
    content: "\e7c0";
}

.iui-icon-safetycertificate:before {
    content: "\e7c1";
}

.iui-icon-alert:before {
    content: "\e7c3";
}

.iui-icon-delete:before {
    content: "\e7c4";
}

.iui-icon-bulb:before {
    content: "\e7c5";
}

.iui-icon-experiment:before {
    content: "\e7c6";
}

.iui-icon-bell:before {
    content: "\e7c7";
}

.iui-icon-trophy:before {
    content: "\e7c8";
}

.iui-icon-skin:before {
    content: "\e7c9";
}

.iui-icon-home:before {
    content: "\e7ca";
}

.iui-icon-filter:before {
    content: "\e7cb";
}

.iui-icon-like:before {
    content: "\e7cc";
}

.iui-icon-unlike:before {
    content: "\e7cd";
}

.iui-icon-unlock:before {
    content: "\e7ce";
}

.iui-icon-lock:before {
    content: "\e7cf";
}

.iui-icon-customerservice:before {
    content: "\e7d0";
}

.iui-icon-flag:before {
    content: "\e7d1";
}

.iui-icon-rocket:before {
    content: "\e7d2";
}

.iui-icon-shopping:before {
    content: "\e7d3";
}

.iui-icon-folder:before {
    content: "\e7d4";
}

.iui-icon-folder-open:before {
    content: "\e7d5";
}

.iui-icon-folder-add:before {
    content: "\e7d6";
}

.iui-icon-deploymentunit:before {
    content: "\e7d7";
}

.iui-icon-contacts:before {
    content: "\e7d8";
}

.iui-icon-carryout:before {
    content: "\e7d9";
}

.iui-icon-calendar-check:before {
    content: "\e7da";
}

.iui-icon-calendar:before {
    content: "\e7db";
}

.iui-icon-scan:before {
    content: "\e7dc";
}

.iui-icon-camera:before {
    content: "\e7dd";
}

.iui-icon-read:before {
    content: "\e7de";
}

.iui-icon-cloud-upload:before {
    content: "\e7df";
}

.iui-icon-cloud:before {
    content: "\e7e0";
}

.iui-icon-cloud-download:before {
    content: "\e7e1";
}

.iui-icon-notification:before {
    content: "\e7e2";
}

.iui-icon-sound:before {
    content: "\e7e3";
}

.iui-icon-qrcode:before {
    content: "\e7e4";
}

.iui-icon-image:before {
    content: "\e7e5";
}

.iui-icon-mail:before {
    content: "\e7e6";
}

.iui-icon-idcard:before {
    content: "\e7e7";
}

.iui-icon-check-circle:before {
    content: "\e77d";
}