// 通用
@import "../color/colors.scss";


// 颜色
$color-white: #ffffff;
$dark-color-white: fade($color-white, 0.9);
$color-black: #000000;
$dark-color-black: #000000;
$color-transparent: transparent;




// 边框大小
$border-none: 0;
$border-1: 1px;
$border-2: 2px;
$border-3: 3px;
$border-4: 4px;
$border-5: 5px;

// 边框样式
$border-solid: solid;
$border-dashed: dashed;
$border-dotted: dotted;

// 边框颜色
$color-border: var(#{$prefix}-gray-3);
$color-border-dark: var(#{$prefix}-gray-2);
$color-border-light: var(#{$prefix}-gray-4);
$color-border-lighten: var(#{$prefix}-gray-5);

// 背景颜色
$color-bg: var(#{$prefix}-bg); // 整体背景色
$color-bg-white: var(#{$prefix}-white); // 白色背景色
$color-bg-secondary: var(#{$prefix}-gray-1); // 次要背景色
$color-bg-active: var(#{$prefix}-gray-2); // 活跃背景色


$dark-color-bg: var(#{$prefix}-gray-1);
$dark-color-bg-2: var(#{$prefix}-gray-2);
$dark-color-bg-3: var(#{$prefix}-gray-3);
$dark-color-bg-4: var(#{$prefix}-gray-4);
$dark-color-bg-5: var(#{$prefix}-gray-5);
$dark-color-bg-white: $color-bg-white;

// 文字颜色
$color-text-dark: var(#{$prefix}-gray-10); // 强调/正文标题
$color-text: var(#{$prefix}-gray-8); // 次强调/正文标题
$color-text-light: var(#{$prefix}-gray-7); // 次要信息
$color-text-ligthen: var(#{$prefix}-gray-5); // 置灰信息


// 圆角
$border-radius-none: 0;
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 8px;
$border-radius-huge: 36px;
$border-radius-circle: 50%;

// 阴影距离
$shadow-distance-none: 0;
$shadow-distance-1: 1px;
$shadow-distance-2: 2px;
$shadow-distance-3: 3px;
$shadow-distance-4: 4px;

// 透明度
$opacity-none: 0;
$opacity-1: 0.1;
$opacity-2: 0.2;
$opacity-3: 0.3;
$opacity-4: 0.4;
$opacity-5: 0.5;
$opacity-6: 0.6;
$opacity-7: 0.7;
$opacity-8: 0.8;
$opacity-9: 0.9;
$opacity-10: 1;

// 字体大小
$font-size-display: 56px;
$font-size-title: 24px;
$font-size-body: 14px;
$font-size-caption: 12px;

$font-size-huge: 16px;
$font-size-large: 15px;
$font-size-medium: 14px;
$font-size-small: 13px;
$font-size-mini: 12px;




// 尺寸
$size-none: 0;
$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 32px;
$size-9: 36px;
$size-10: 40px;
$size-11: 44px;
$size-12: 48px;
$size-13: 52px;
$size-14: 56px;
$size-15: 60px;
$size-16: 64px;
$size-17: 68px;
$size-18: 72px;
$size-19: 76px;
$size-20: 80px;
$size-21: 84px;
$size-22: 88px;
$size-23: 92px;
$size-24: 96px;
$size-25: 100px;
$size-26: 104px;
$size-27: 108px;
$size-28: 112px;
$size-29: 116px;
$size-30: 120px;
$size-31: 124px;
$size-32: 128px;
$size-33: 132px;
$size-34: 136px;
$size-35: 140px;
$size-36: 144px;
$size-37: 148px;
$size-38: 152px;
$size-39: 156px;
$size-40: 160px;
$size-41: 164px;
$size-42: 168px;
$size-43: 172px;
$size-44: 176px;
$size-45: 180px;
$size-46: 184px;
$size-47: 188px;
$size-48: 192px;
$size-49: 196px;
$size-50: 200px;

$size-mini: $size-6;
$size-small: $size-7;
$size-medium: $size-8;
$size-large: $size-9;
$size-huge: $size-10;

// 图标尺寸
$icon-mini: $size-6;
$icon-small: $size-8;
$icon-medium: $size-10;
$icon-large: $size-12;
$icon-huge: $size-14;